fastapi
uvicorn[standard]
gunicorn
sqlalchemy
aiosqlite
uuid6
pydantic
pydantic-settings
cryptography
litellm
alembic
Pillow
python-multipart
passlib[bcrypt]
pyjwt
httpx

# Testing & Linting
pytest
pytest-asyncio
ruff
mypy
types-Pillow
types-python-jose
types-cryptography
